@{
    ViewData["Title"] = "Available Equipment";
}

<div class="w-50">
    <h1 class="display-4">Available Equipment</h1>
    <p>
        The purpose of this application is to allow FAST students and professors to request IT equipment.
        This page lists all equipment available to request.
    </p>
</div>
