@{
    ViewData["Title"] = "Equipment Listings";
}

<div class="w-50">
    <h1 class="display-4">Equipment Listings</h1>
    <p>
        The purpose of this application is to allow FAST students and professors to request IT equipment.
        This page lists all equipment.
    </p>
</div>
